li a{
  color: black;
}
.container {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
    }
    .container:before {
        content: "";
        position: absolute;
        height: 20%; width: 20%;
        background: gainsboro url("images/AW_background.jpg") no-repeat;
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */

        /* don't forget to use the prefixes you need */
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: grayscale(30%);
    }
    .container-fluid {
      background-color: gainsboro;
      text-align: center;
      color: gray;
    }
#voteagain{
  color: black;
}

.content{
  text-align: center;
}


 .questpage{
  position: absolute;
  top: 100px; bottom: 10px; left: 10px; right: 10px;
  height: 100%;
  background: gainsboro url("images/AW_circle.png") center no-repeat;
  background-size: auto;
  z-index: -1;
}
.questtext{
  text-align: center;
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: gainsboro;
}
.resultpage{
  background: gainsboro;
  background-size: 70%;
  min-width: 330px;
  -webkit-transform-origin: top left;

}
.resulttext{
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
table.center {
  text-align: center;
    margin:0px auto;
    margin-top:25%;
}
html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }
.teacherview{
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  size: 100pt;
  color: white;

}
.quarter{
  width:50%;
  height:100%;
  float:left;
}
.contents{
  height:50%;
  width:100%;
}
.col-md-6{
  height:50%;
}

.logoutstartpage{
  text-align: right;
  position: fixed;
  left: 0;
}

.logoutquestions{
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
}

.logoutresult{
  text-align: right;
  position: fixed;
  right: 0;
  bottom: 0;
}

.typeofuser{
  text-align: center;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
