a{
  color: white;
  vertical-align: middle
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}

/* Different stylesheets for different screens, in three intervals */
@media screen and (max-width: 414px) {
  /* comes into effect for screens less than or equal to 414 pixels, small mobile devices */
    .questpage{
     width: 100%;
     position: absolute;
     height: 100%;
     background: gainsboro url("images/AW_circle.png") bottom left no-repeat;
     background-size: 240px;
     z-index: -1;
   }
   .questtext{
     margin: auto;
     width: 100%;
     font-size: 18;
     text-align: center;
     color: gray;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
     Helvetica, Arial, "Lucida Grande", sans-serif;
     background-color: gainsboro;
   }
}
@media screen and (min-width: 415px) and (max-width: 667px) {
  /* comes into effect for screens between 415 and 667 pixels (inclusive), medium size mobile devices */
  .questpage{
   width: 100%;
   position: absolute;
   height: 100%;
   background: gainsboro url("images/AW_circle.png") bottom left no-repeat;
   background-size: 300px;
   z-index: -1;
 }
 .questtext{
   margin: auto;
   width: 100%;
   font-size: 18;
   text-align: center;
   color: gray;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   Helvetica, Arial, "Lucida Grande", sans-serif;
   background-color: gainsboro;
 }
}
@media screen and (min-width: 668px) {
  /* comes into effect for screens larger than or equal to 668 pixels, i.e. iPads and full screen desktops */
  .questpage{
   width: 100%;
   position: absolute;
   height: 100%;
   background: gainsboro url("images/AW_circle.png") bottom left  no-repeat;
   background-size: 400px;
   z-index: -1;
  }
  .questtext{
    margin:auto;
    width: 50%;
    position: static;
    font-size: 18;
    text-align: center;
    color: gray;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: gainsboro;
  }
}

/* General style for all types of screens */
.container {
  margin:auto;
        width:100%;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
    }
    .container:before {
        content: "";
        position: absolute;
        height: 20%; width: 20%;
        background: gainsboro url("images/AW_background.jpg") no-repeat;
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */

        /* don't forget to use the prefixes you need */
        -webkit-transform: scale(5);
        -webkit-transform-origin: top left;
        -webkit-filter: grayscale(30%);
    }
    .container-fluid {
      height: 100%;
      background-color: gainsboro;
      text-align: center;
      color: gray;
    }
#voteagain{
  color: black;
}
.content{
  margin-top: 15%;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Styles for staff views  */
.resultpage{
  background: gainsboro;
  background-size: 70%;
  min-width: 330px;
  -webkit-transform-origin: top left;
}
.resulttext{
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.teacherview{
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  size: 100pt;
  color: white;
  font-size: 50;
}

.quarter{
  width:50%;
  height:100%;
  float:left;
}
.contents{
  height:50%;
  width:100%;
}
.col-md-6{
  height:50%;
}
table.center {
  text-align: center;
  margin:0px auto;
  margin-top:25%;
}
html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }
 .typeofuser{
   text-align: center;
   color: black;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
   Helvetica, Arial, "Lucida Grande", sans-serif;
 }
 .login{
   margin-top: 30%;
 }
 div.box:hover {
     cursor: hand;
     cursor: pointer;
     opacity: .9;
 }

/* Styles for student views  */
.choicelist{
  margin:auto;
  text-align: left;
  width:60%;
}
.logoutstartpage{
  text-align: right;
  position: fixed;
  left: 0;
}
.logoutquestions{
  text-align: right;
  position: fixed;
  left: 5%;
  bottom: 0;
}
.logoutresult{
  text-align: right;
  position: fixed;
  right: 1%;
  bottom: 0;
  z-index: 1;
}
.denied{
  margin:auto;
  width:100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  text-align: center;
  color: gray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: gainsboro;
}
.nyfraga{
  text-align: center;
  position: fixed;
}
