{% extends 'testapp/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div {% if message.tags %} class="{{message.tags}}" style="color:red; margin-top: 20%;" {% endif %}> {{ message }} </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="login">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Användarnamn</label>
          <input type="text" class="form-control" name="username" placeholder="Användarnamn">
        </div>
        <div class="form-group">
          <label for="Password">Lösenord</label>
          <input type="password" class="form-control" name="password" placeholder="Lösenord">
        </div>
        <button type="submit" class="btn btn-success">Logga in</button>
      </form>
    </div>
    </div>

  </div>

</div>
</head>

{% endblock %}
