{% extends 'testapp/base.html' %}

{% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}> {{ message }} </li>
          {% endfor %}
        </ul>
      {% endif %}

      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Användarnamn</label>
          <input type="text" class="form-control" name="username" placeholder="Användarnamn">
          <small id="anonymousHelp" class="form-text text-muted">Du är helt anonym när du svarar på enkäten.</small>
        </div>
        <div class="form-group">
          <label for="Password">Lösenord</label>
          <input type="password" class="form-control" name="password" placeholder="Lösenord">
        </div>
        <button type="submit" class="btn btn-primary">Logga in</button>
      </form>
    </div>

  </div>

</div>
</head>

{% endblock %}
