{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'testapp/main.css' %}">
<div class="questpage">
  </div>
  <div class="questtext">
<h1>{{ question.question_text }}</h1>

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'testapp:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value ="{{ choice.id }}">
  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Skicka" />
</form>

<form action="{% url 'testapp:answer1' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value ="{{ choice.id }}">
  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Nästa fråga" />
</form>
<form action="{% url 'testapp:index' %}" method="get">
{% csrf_token %}
<input type="submit" value="Gå tillbaka" />
</form>
</div>
