{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<link rel="stylesheet" type="text/css" href="{% static 'testapp/main.css' %}">

<div class="container">
  <div class="typeofuser">
  {% if user.is_authenticated %}
    <p> User: {{ user.get_username }} </p>
    </div>


  <div class="content">
    <h1> Välkommen {{ user.get_username }}!</h1>
    <h3> Starta en poll genom att trycka på knappen nedan: </h3>
  {% if latest_question_list %}
  <form action="{% url 'testapp:question1' latest_question_list.0.id %}" method="get">
  <input type="submit" class="btn btn-success" value="Starta poll" />
  </form>
  {% endif %}
  </div>

  <form class=logoutstartpage action="{% url 'accounts:logout'%}?next={{request.path}}">
  <input type="submit" class="btn btn-warning" value="Logga ut" style="position: fixed;left: 5%;bottom: 5%;" />
  </form>
</div>

{% else %}
  <li><a href="{% url 'accounts:login'%}?next={{request.path}}">Login</a></li>
{% endif %}
</div>
