{% load static %}
{% load bootstrap3 %}


<link rel="stylesheet" type="text/css" href="{% static 'testapp/main.css' %}">




<div class="container">
  {% if user.is_authenticated %}
    <p> User: {{ user.get_username }} </p>
    <p><a href="{% url 'accounts:logout'%}?next={{request.path}}">Logout</a></p>
  <ul class="content">


  {% if latest_question_list %}
  <form action="{% url 'testapp:question1' latest_question_list.0.id %}" method="get">

  <input type="submit" value="Starta poll" />
  </form>
  {% endif %}
  </ul>
{% else %}
  <li><a href="{% url 'accounts:login'%}?next={{request.path}}">Login</a></li>
{% endif %}
</div>
