{% extends 'testapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/main.css' %}">
{% block content%}

<div>
  <form class=logoutstartpage action="{% url 'accounts:logout'%}?next={{request.path}}">
  <input type="submit" class="btn btn-warning" value="Logga ut" style="position: fixed;left: 5%;bottom: 5%;" />
  </form>
  <form action="{% url 'testapp:teacherview'%}" method='get'>
  <input type="submit" class="btn btn-success" value="Till lärarsidan" style="position: fixed;right: 5%;bottom: 5%;" />
  </form>
    <h1>Anna Whitlocks lärarforum</h1>
    <form action="{% url 'testapp:post_new' %} "method='get'>
      <input type="submit" class="btn btn-success" value="Föreslå ny fråga" />
    </form>

</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }} by {{ post.author }}<p>
        <h2><a href="{%url 'testapp:post_detail' post.id%}">{{ post.title }}</a></h2>
        <h6>{{ post.text|linebreaksbr }}</h6>
    </div>
{% endfor %}
{% endblock %}
