{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<link rel="stylesheet" type="text/css" href="{% static 'testapp/main.css' %}">
<div class="questpage">
  </div>
  <div class="questtext">

<!-- Give permission to enter only if user is authenticated -->
{% if user.is_authenticated %}
  <p> Anna Whitlocks gymnasium </p>

  <form class=logoutquestions action="{% url 'accounts:logout'%}?next={{request.path}}">
  <input type="submit" class="btn btn-warning" value="Logga ut" />
  </form>
<h1>{{ question.question_text }}</h1>

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'testapp:answer2' question.id %}" method="post">
{% csrf_token %}
<div class="choicelist">

<!-- Lists all choices that belongs to the question  -->
{% for choice in question.choice_set.all %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value ="{{ choice.id }}">
  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<br>

<!-- Button submits answer and redirects to next question  -->
<input type="submit" class="btn btn-success" value="Nästa fråga" />
</form>
</div>

<!-- If permission to enter is denied -->
{% else %}

<br>
<br>
<h1> För att få tillgång till denna sida måste du vara inloggad! </h1>

  <a href="{% url 'accounts:login'%}?next={{request.path}}" class="btn btn-success"> Logga in </a>
    {% endif %}
</div>
